<%= stylesheet_link_tag "collapsible" %>

<h1>Advent of Code Ex. 3</h1>

<h2>Part 1</h2>
<p>Amount of trees: <%= @trees1 %> </p>
<br />
<button type="button" class="collapsible">Show Visual</button>
<div class="content">
    <%= h(@out).gsub(/\n/, '<br/>').html_safe %>
</div>

<br /><br />
<h2>Part 2</h2>
<p>Output for example (should be  336): <%= @trees_example %>
<p>Answer: <%= @trees2 %> </p>

<%= javascript_pack_tag 'collapsible' %>