<h1>Calc AoC</h1>

<p><%= @test %></p>

<br /><br /><br />

<p><%= @test2 %></p>

<br /><br /><br />

<%= @test3 %>

<%= @test4 %>

<%= @test9 %>

<br />
Key numbers: <%= @winner1 %> <%= @winner2 %>
Solution: <%= @solution %>
<br />

<%= @testi %>