<h1>Calc AoC</h1>

<h2>Part 1</h2>
Input:
<p><%= @filedata %></p>


<br />
Key numbers: <%= @winner1 %> <%= @winner2 %>
<br />
Solution: <%= @solution %>
<br />

<h2>Part 2</h2>
Key numbers: <%= @p2winner1 %> <%= @p2winner2 %> <%= @p2winner3 %>
<br />
Solution: <%= @p2solution %>
<br />
